<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/default.css">
  <title>蔵書管理</title>
</head>
<body>
<h1>蔵書管理</h1>
<h2>蔵書データの初期化</h2>
<p><a href="/entry">蔵書データの登録</a>｜
<a href="/retrieve_title">蔵書データの検索(タイトル名)</a>｜
<a href="/retrieve_author">蔵書データの検索(著者名)</a>｜
<a href="/">メニュー画面に戻る</a></p>

<hr>
<p>蔵書データを初期化します。よろしければボタンを押してください。</p>
<form method="post" action="/init">
<input type="submit" value="初期化！" />
</form>
<hr>
</body>
</html>
