<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/default.css">
  <title>蔵書管理</title>
</head>
<body>
<h1>蔵書管理</h1>
<h2>マッチするデータはありませんでした</h2>
<p><a href="/list">蔵書データの表示</a>｜
<a href="/">メニュー画面に戻る</a></p>
<hr>
</body>
</html>
